extends layout

block content
  h1= title
  p Welcome to Thrinadh
  button(type='button', class='btn btn-secondary' onclick='moreClaps()') Press Me
  div(id = "target") Clap for me
  
  script.
    var clap_count=0;
    
    function moreClaps() {
      clap_count=clap_count+1;
      document.getElementById("target").innerHTML=`Claps ${clap_count} times`;
    }